<!-- items.component.html -->
<div *ngIf="items.length > 0; else noItems">
  <h2>Items</h2>
  <ul>
    <li *ngFor="let item of items">
      <!-- Отобразите свойства предмета здесь -->
      ID {{ item.id }} - {{ item.name }} - <button (click)="goToVideo(item.id)">Перейти на видео</button>
    </li>                                             
  </ul>
  <div>
    <button (click)="goUpload()">Загрузить видео</button>
  </div>                                             
</div>

<ng-template #noItems>
  <p>No items found.</p>
  <div>
    <button (click)="goUpload()">Загрузить видео</button>
  </div>
</ng-template>
